@import '~@angular/material/theming';
@import 'fonts';

// REQUISITE VARIETY CUSTOM MATERIAL THEME

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rv-theme-primary: mat-palette($mat-orange, 200, 100, 400);
$rv-theme-accent: mat-palette($mat-blue-grey, 700);

// The warn palette is optional (defaults to red).
$rv-theme-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$rv-theme: mat-light-theme($rv-theme-primary, $rv-theme-accent, $rv-theme-warn);
$rv-foreground: map-get($rv-theme, foreground);
$rv-background: map-get($rv-theme, background);

$rv-theme-toolbar: mat-palette($mat-amber, 0);

$rv-theme-pallette: (
  primary: $rv-theme-primary,
  accent: $rv-theme-accent,
  toolbar: $rv-theme-toolbar,
  foreground: mat-color($rv-theme-accent, A200),
  background: mat-color($rv-theme-accent, 700)
);

$custom-typography: mat-typography-config(
  $font-family: Poppins,
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);
@include angular-material-theme($rv-theme);
